/*===== Contact Css =====*/

h1, h2 {
	font: 2.375em League Gothic;
	letter-spacing: 2.5px;
}

p, a {
	font: Verdana;
}

#services {
	margin-top: 0px;
	width: 100%;
	float: right;
	clear: right;
	text-align: left;
	background-color: #bae8ca;
}

#services ul {
	margin-top: -30px;
	width: 100%;
	margin-left: 01.041666666667%; /*10px;*/
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 87.5%;
	line-height: 25.82px;
}

#services h2 {
	margin-top: 2px;
	margin-left: 02.083333333333%;/*20px*/
	font: 30px League Gothic;
	padding-bottom: 10px;
}

#contact{
	margin-top: 80px;
	width: 77.083333333333%; /*740px*/
	padding-left: 00.675675675676%; /*5px*/
}

#email_area2{
	margin-top: -480px;
	background-color: #bae8ca;
	width: 74.791666666667%; /*718px*/
	float: left;
	height: 500px;
	padding-left: 00.696378830084%; /*5px*/
	background:url(../images/pup_bg.gif);
	background-position: top center;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 0.5px;
	clear: both;
	overflow: hidden;
}

input    {
width: 50%;
display:block;
border: 1px solid #999;
height: 22px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input:focus {
	background: yellow;
}

#message{
	width: 50%;
	display:block;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#message:focus {
	background: yellow;
}

#form5{
	display:inline;
}

#form5 p{
	margin-top: 2px;
	font-size: 90%;
	float: left;
}

#options{
	margin: -18px 2.127659574468%;
	width: 20%;
 }

.button {
	margin: 14px 10.416666666667%; 
}

/* ============Aside=========== */

aside2 {
	width: 20%;
	margin-top: 0;
	float: right;
	clear: right;
	
}

#hours {
	float: right;
	clear: right;
	margin-top: 10px;
	width: 100%;
	height: 200px;
	background:url(../images/hours_bg.gif);
	background-position: top center;
	background-attachment: scroll;
	background-size:100%;
	background-repeat: no-repeat;
	
}

#hours ul{
	width: 100%;
	margin-left: 01.041666666667%; /*10px;*/
	margin-top: -16px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 68.8%;
	line-height: 14px;

}

#hours h3{
	margin-left: 01.041666666667%; /*10px;*/
}

#locate {
	width: 97%;
	height: 320px;
}

#locate iframe{
	width: 100%;
	height: 320px;
}

#form1, #form2, #form3, #form5{
	margin-top: -10px;
	clear: both;
}

/* =Media Queries
==============================================================*/

	/* Tablet Portrait size to standard 960 (devices and browsers)*/
    @media screen and (max-width: 1024px){
		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		#services_content { width: 100%;}
		aside {display:none;}
		aside2 {display:none;}
		#contact {width: 100%;}
		#email_area2 {width: 100%; height: 600px; margin-top: 40px;}
		.button {margin: 14px -20.625%;}
		footer {width: 100%;}
	}	
	
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:800px) {
		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		#services_content { width: 100%;}
		aside {display:none;}
		aside2 {display:none;}
		#contact {width: 100%; margin-top: 20px;}
		#contact h1 { font-size: 1.750em; margin-top: 45px;}
		#email_area2 {width: 100%; height: 500px; margin-top: 20px;}
		.button {margin: 14px -25%;}
		footer {width: 100%;}
	}	
			
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:600px) {
		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		#services_content { width: 100%;}
		aside {display:none;}
		aside2 {display:none;}
		#contact {width: 100%; margin-top: 20px;}
		#contact h1 { font-size: 28px; margin-top: -20px;}
		#email_area2 {width: 100%; height: 500px; margin-top: 20px;}
		.button {margin: 14px -33%;}
		footer {width: 100%;}
	}	

	/* Mobile Portrait to Mobile Landscape Size (devices and browsers)*/
    @media screen and (max-width: 480px){
		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		#services_content { width: 100%;}
		aside {display:none;}
		aside2 {display:none;}
		#contact {width: 100%; margin-top: 20px;}
		#contact h1 { font-size: 1.750em; margin-top: -20px;}
		#email_area2 {width: 100%; height: 360px; margin-top: 20px; background-image: none; overflow: scroll;}
		#email_area2 h2{ font-size: 1.625em;}
		input, #message {width: 98%;}
		#form5 {display: inline-block; width: 80%; float: left; margin-left: -90px}
		#form5 label,  {margin-right: 200px;}
		#form5 p{margin-left: 90px; width:}
		#options{margin: -18px 90px; width: 50%;}
		.button { margin: 60px -60%;}
		footer {width: 100%;}
	}	

	@media screen and (max-width: 320px){
			#wrapper {width: 100%; margin: auto;}
			header img {width: 70%; margin-left: 15%}
			aside {display:none;}
			#services_content {font-size: 90%;  margin-top:-30px; width:97%;}
			#contact h1{font-size: 140%;}
			#contact p {font-size: 90%;}
			nav li {margin-top: 26px; width: 100%;}
			#email_area2 h2{font-size:120%}
			#email_area2{font-size: 90%}
			#form5 p{width:100%}
			#options{width:100%;}
			.button{margin-left: -49%;}
			footer {width: 100%;}
		}