

#tabs h3 {
	font-size: 90%;
}

#tabs h4 {
	font-size: 70%;
}

#tabs p {
	font-size: 70%;
}

#tabs-1, #tabs-2, #tabs-3 {
	width: 90%;
	
}

#slider {
	77.41935483871%;/*960px*/
	height: 360px;
	margin-top: 80px;
	
}

#slider img{
	width: 100%;
	box-shadow: 5px 5px 2px silver;
		}	

#tabs{
	width: 78%;
	height: 310px;
	margin-top: 80px;
	float: left;
	overflow: scroll;
	box-shadow: 5px 5px 2px silver;
	
}

#btm_content {
	margin-top: 0px;
	width: 78%;
}

/* =Media Queries
==============================================================*/

		/* Tablet Portrait size to standard 960 (devices and browsers)*/
    @media screen and (max-width: 1024px){
		#wrapper {width: 90%}
		#wrapper {margin: auto;}
		aside {display:none;}
		#slider {margin-top: 60px;}
		#tabs {margin-top: 60px;}
		#tabs {width: 100%;}
		#btm_content {width: 100%;}
		footer {width: 90%;}
	}	
	
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:800px) {
		#wrapper {width: 90%}
		#wrapper {margin: auto;}
		aside {display:none;}
		#slider {margin-top: 18px;}
		#tabs {margin-top: -40px;}
		#tabs {width: 100%;}
		#btm_content {width: 100%;}
		footer {width: 90%;}
	}	
			
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:600px) {

		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		aside {display:none;}
		#slider {margin-top: 18px;}
		#tabs {margin-top: -100px;}
		#tabs {width: 100%;}
		#btm_content {width: 100%;}
		footer {width: 100%;}
		#hours {background-image:none}
	}

	/* Mobile Portrait to Mobile Landscape Size (devices and browsers)*/
    @media screen and (max-width: 480px){
			#wrapper {width: 100%}
			#wrapper {margin: auto;}
			aside {display:none;}
			#slider {width: 100%}
			#slider {margin-top: -12px;}
			#tabs {margin-top: -150px;}
			#tabs {width: 100%;}
			#btm_content {width: 100%;}
			footer {width: 100%;}
			#hours {width: 100%;}
			#email_area {width:100%; float: left; background-image: none; margin-top:-40px; margin-left: -18px; } 
			#emailus {margin-top: -50px;}
		}

	@media screen and (max-width: 320px){
			#wrapper {width: 100%}
			#wrapper {margin: auto;}
			header img {width: 70%; margin-left: 15%}
			aside {display:none;}
			#slider {display: none;}
			nav li {margin-top: 26px; width: 100%;}
			#tabs {margin-top: -10px;}
			#tabs {width: 100%;}
			#tabs-1,#tabs-2 {width: 90%;}
			#btm_content {width: 100%;}
			footer {width: 100%;}
			#hours {width: 100%;}
			#email_area {width:100%; float: left; background-image: none; margin-top:-40px; margin-left: -18px; } 
			#emailus {margin-top: -14px;}
		}

