/*===== Begin Services Css =====*/

#services_content {
	width: 73.333333333333%;/*704px*/
	margin-top: 60px;
	overflow: hidden;
	text-align:justify;
	padding-top: 5px; 
}

#services_content ul{
	
	width: 97.5%;
	list-style-type: none;
	font-size: 87.5%; /*14px*/
	line-height: 25.82px;
	text-align:justify;
	margin-left: -30px;
	
}

#services_content h4 {
	margin-top: -10px;
	float: right;
	font-size: 87.5%; /*14px*/
	text-decoration: underline;
	color: #789dc3;
}

#services_content b {
	font-size: 115%;
	color: #789dc3;
}

aside{
	margin-top: -8px;
}

aside img{
	width: 100%;
}


#email_area {
	margin-top: 240px;
	width: 100%;
	height: 200px;
	float: left;
	
}

#email_area h2{
	margin-top: 14px;
}

#email_area h2, #email_area p {
	margin-left: 02.083333333333%; /*20px*/
}

#email_area p{
	width: 100%;
	font-size: 81.3%; /*13px*/
	line-height: 15px;

}

#emailus{
	width: 100%;
	height: 18px;
	text-align: center;
	color: white;
	margin-top: 8px;
	margin-left: -6px;
	
}

#emailus h4, #emailus a{
		font-size: 75.0%; /*12px*/
		margin-top: 2px;
}

#emailus h4:hover, #emailus a:hover{
	color: black;
}

#hours {
	width: 100%;
	height: 200px;
	background:url(../images/hours_bg.gif);
	background-size: 100%;
	background-position: top center;

}

#hours ul{
	width: 100%;
	margin-left: 01.041666666667%;/*10px;*/
	margin-top: -10px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;

}

#hours h3{
	margin-left: 01.041666666667%;/*10px;*/
}

/* =Media Queries
==============================================================*/

	/* Tablet Portrait size to standard 960 (devices and browsers)*/
    @media screen and (max-width: 1024px){
		#wrapper {width: 100%}
		#wrapper {margin: auto;}
		#services_content { width: 100%;}
		aside {display:none;}
		#btm_content {width: 100%;}
		footer {width: 100%;}
	}	
	
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:800px) {
		#wrapper {width: 90%}
		#wrapper {margin: auto;}
		aside {display:none;}
		#services_content {font-size: 90%; width:100%; margin-top:-15px;}
		footer {width: 100%;}
	}	
			
	/* Tablet size Portrait (devices and browsers)*/
	@media screen and (max-width:600px) {

		#wrapper {width: 100%; margin:auto;}
		aside {display:none;}
		#services_content{padding-right:5px;}
		footer {width: 100%;}
	}

	/* Mobile Portrait to Mobile Landscape Size (devices and browsers)*/
    @media screen and (max-width: 480px){
		#wrapper {width: 98%;}
		#wrapper {margin: auto;}
		aside {display:none;}
		#services_content{padding-right:10px;}
		footer {width: 100%;}
			
		}

	@media screen and (max-width: 320px){
			#wrapper {width: 100%; margin: auto;}
			header img {width: 70%; margin-left: 15%}
			aside {display:none;}
			#services_content {font-size: 90%;  margin-top:-30px; width:97%;}
			nav li {margin-top: 26px; width: 100%;}
			footer {width: 100%;}
		}