/*import css*/
@import "normalize.css";

body {
	max-width: 1240px;
	min-width: 780px;
	font: 100% Arial, Helvetica, sans-serif;
	background-color: white;
	font-style: normal;
	background-image: url(../images/bkground.png);
	background-attachment: scroll;
	background-repeat: repeat-x;
} 

#wrapper {

	width: 940px;
	margin: 0px  15%;
	background-color: white;
	overflow: hidden;	
}

/* Header Css */
header {
	width: 100%;
	height: 55px;
	background-color: #789dc3;
}

#header1, #header2, #header3 {
	width: 350px;
	float: left;
	clear: both;
	overflow: hidden;
}

#header2 {
	margin-top: -5.5px;
}

#header3{
	margin-top: -16.8px;
}
/* =======End Header======= */

/* ===========================Aside Css============================= */

aside {
	float: left;
	clear: left;
	overflow: hidden;
}

aside2{
	margin-top: 6px;
	width: 200px;
	float: right;
	clear: right;
	text-align: left;
	padding-left: 5px;
	background-color: #bae8ca;
}
aside2 ul {
	width: 100%;
	margin-left: 10px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 14px;
	line-height: 25.82px;
}

aside2 h2{
	
	margin-top: 2px;
	margin-left: 20px;
	font: 38px Josefin Sans;
}

/* Big Buttons */

#bgbtn1, #bgbtn2, #bgbtn3{
	text-align: center;
	width: 298px;
	height: 100px;
	border: 1px solid black;
}

#bgbtn1{
	background-color: #0b63aa;
}

#bgbtn2{
	background-color: #bae8ca;
}

#bgbtn3 {
	background-color: #828282;
}

#bgbtn1, #bgbtn2, #bgbtn h3 {
	vertical-align: middle;
}

#bgbtn1:hover {
	background:url(../images/bgbtn_ro.gif);
}


#bgbtn2:hover {
	background:url(../images/bgbtn2_ro.gif);
}

#bgbtn3:hover {
	background:url(../images/bgbtn3_ro.gif);
}

/* End Big Buttons */	


/* end aside css */

#main_content{
	height: 843px;
}

/* Began Content */

#slider{
	width: 640px;
	height: 306px;
	float: right;
	clear: right;
	overflow: hidden;
}

#slider img{
	width: 100%;
}

#ad_content{
	margin-top: 6px;
	width: 730px;
	height: 319px;
	float: left;
	clear: left;
	background-color: red;
	text-align: center;
	overflow: hidden;
	background:url(../images/ad1.jpg);
}

#ad_content h2 {
		vertical-align: middle;
}

#btm_content {
	margin-top: 6px;
	width: 735px;
	height: 200px;
	float: left;
	overflow: hidden;
}

#hours {
	float: left;
	clear: left;
	margin-top: 0px;
	width: 245px;
	height: 200px;
	background:url(../images/hours_bg.gif);
}

#hours ul{
	width: 100%;
	margin-left: 10px;
	margin-top: -10px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;

}

#hours h3{
	margin-left: 10px;
}

#email_area {
	margin-top: 0px;
	width: 488px;
	height: 200px;
	float: left;
	background:url(../images/email_bg.gif);
}

#email_area h2{
	margin-top: 14px;
}

#email_area h2, #email_area p {
	margin-left: 20px;
}

#email_area p{
	font-size: 13px;
	line-height: 2px;
}

#emailus{
	width: 200px;
	height: 35px;
	background:url(../images/email_btn.gif);
	background-size: 100%;
	text-align: center;
	color: white;
	float: right;
	margin-top: -40px;
	margin-right: 28px;
}

#emailus h4, #emailus a{
		margin-top: 6.5px;
}

#emailus h4:hover, #emailus a:hover{
	color: black;
}


/* End Content */

/* ================Navigation Css============== */

nav {
	background-color: #0b63aa;
}

nav ul {
	width: 100%;
	margin-top:0px;
	background: #0b63aa;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
nav li {
	width: 147.5px;
	background: #0b63aa;
	float: left;
	text-align: center;
}

nav a {
	text-decoration: none;
	background: #0b63aa;
	display: block;
	line-height: 30px;
	text-align: center;  
	color: white;
}

nav a:hover {
	color: #0b63aa;
	background: white;
	
}

/* End Of Navigation Css */

/* Footer css*/

footer {
	font-size: 70%;
	text-align: center;
	color: white;
	background: blue;
	
}
	
/* End footer */