/*import css*/
@import "normalize.css";

body {
	max-width: 1240px;
	font: 100% Arial, Helvetica, sans-serif;
	background-color: white;
	font-style: normal;
	background-image: url(../images/bkground.png);
	background-color: white;
	background-attachment: scroll;
	background-repeat: repeat-x;
} 

#wrapper {

	width: 77.41935483871%;/*960px*/
	margin: auto;
	background-color: white;
	overflow: hidden;	
}

/* Header Css */

header {
	width: 100%;
	height: 55px;
	background-color: #789dc3;
	
}

header img{
	width: 36.458333333333%;
	overflow: visible;
}

/* ================Navigation Css============== */

nav {
	/*background-color: #736a58;*/
}

nav ul {
	width: 100%;
	margin-top:0px;
	background: #736a58;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
nav li {
	width: 15.364583333333%;
	background: #0b63aa;
	float: right;
	text-align: center;
}

nav a {
	text-decoration: none;
	background: #736a58;
	display: block;
	line-height: 30px;
	text-align: center;  
	color: white;
}

nav a:hover {
	color: #0b63aa;
	background: white;
	
}

/* ============Aside=========== */

aside {
	width: 20%;
	margin-top: 80px;
	float: right;
	clear: right;
	background-color: #f4f4f4;	
}

aside ul {
	width: 100%;
	margin-left: 0.208333333333;/*2px*/
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 0.813em;
	line-height: 27px;
	font: Verdana;
	margin-top: -16px;
	box-shadow: 5px 2px 2px silver;
}

aside h2 {
	font: 150% League Gothic;
	margin-top: 4px;
	margin-left: 0.208333333333;/*2px*/
	color: #6c6552;
	text-decoration: bold;
	letter-spacing: 2px;
}

aside a {
	text-decoration: none;
	font: Verdana;
	color: #6c6552;
	/*text-shadow: 1px 3px .5px silver;*/	
	
}

aside a:hover {
	text-decoration: underline;
	font-size: 105%;
}



/* business hours css */

#hours {
	float: left;
	clear: left;
	margin-top: 0px;
	width: 25.520833333333%;
	height: 200px;
	background:url(../images/hours_bg.gif);
	background-position: top center;
	background-attachment: scroll;
	background-size:100%;
	background-repeat: no-repeat;
	
}

#hours ul{
	width: 100%;
	margin-left: 01.041666666667%; /*10px;*/
	margin-top: -16px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-size: 68.8%;
	line-height: 14px;

}

#hours h3{
	margin-left: 01.041666666667%;/*10px;*/
}

/* email area css */

#email_area {
	margin-top: 10px;
	width: 50.833333333333%;
	height: 160px;
	float: right;
	background:url(../images/email_bg.gif);
	background-size: 100%;
}

#email_area h2{
	margin-top: 14px;
}

#email_area h2, #email_area p {
	margin-left: 20px;
}

#email_area p{
	font-size: 81.3%; /*13px*/
	line-height: 2px;
}

#emailus h4, #emailus a {
		margin-top: 6.5px;
		float: right;
		clear: right;
		border: 0px solid;
		border-radius:25px;
		padding: 5px 60px;
		background-color: #736a58;
}

#emailus h4:hover, #emailus a:hover {
	color: white;
}

/* Footer css*/

footer {
	width: 77.41935483871%;
	margin: -11px  auto;
	font-size: 70%;
	text-align: center;
	color: white;
	background: #736a58;
	line-height: 25px;
	
}
	
/* End footer */