/*import css*/
@import "normalize.css"

body {
	max-width: 1240px;
	font: 100% Arial, Helvetica, sans-serif;
	background-color: black;
	font-style: normal;
} 

#wrapper {

	width: 63.48%;
	margin: -12px 18%;
	overflow: hidden;
	background-color: white;	
		
}

header {
	width: 100%;
}

header img {
	width: 100%;
}

/* Aside Css */

aside {
	width: 29%;
	float: right;
	text-align: center;
	 border:2px solid black;
}

aside img{
	width:100%;
}

aside h4{
	margin-top:	-10px;
}

aside a{
	text-decoration: none;
	display: block;
	color: black;
}

/* end aside css */

/* Navagation Css */

nav ul {
	width: 100%;
	margin-top: -6px;
	background: #262001;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
nav li {
	width: 16.665%;
	background: blue;
	float: left;
	text-align: center;
}

nav a {
	text-decoration: none;
	background: blue;
	display: block;
	line-height: 30px;
	text-align: center;  
	color: white;
}

nav a:hover {
	color: blue;
	background: white;
	
}

/* End Of Navigation Css */

/* Footer css*/

footer {
	font-size: 70%;
	text-align: center;
	color: white;
	background: blue;
	line-height: 30px;
}
	
/* End footer */